body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #555555;
  
}

body .contain {
    padding: 1em;
      width: 1200px;
}

ul li {
    display: inline;
}

@media (max-width: 599px) {
    
    body .contain{
    	width: 95%;
    }
    
    h1 {
        text-align: center;
    }

    img {
        width: 95%;
    }

    .example {
        padding: 1em 0;
    }
}

@media (min-width: 600px) and (max-width: 1000px) {
	
	body .contain{
    	width: 95%;
    }
	
    img {
        width: 95%;
       
    }

    .example {
        padding: 1em 0;
    }
} 

@media (min-width: 1001px) {
    .contain {
        margin: 0 auto;
        text-align: center;
    }
    img {
       padding: 1%;
       width: 30%;
       float: left;
    }

    footer {
        width: 100%;
        clear: left;
    }
} 

/* Lightbox CSS */
#lightbox {
    background: url("../images/background.png") repeat !important;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#lightbox>img {

    max-width: 50%;
    text-align: center!important;
    margin: 0 auto!important;
    width: inherit;
    float: none;
    z-index: 1000000;
}
