body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #555555;
}

div.contain {
    padding: 1em;
}

ul li {
    display: inline;
}

@media (max-width: 599px) {
    
    body .contain{
    	width: 95%;
    }
    
    h1 {
        text-align: center;
    }

    img {
        width: 95%;
    }

    .example {
        padding: 1em 0;
    }
}

@media (min-width: 600px) and (max-width: 1000px) {
	
	body .contain{
    	width: 95%;
    }
	
    img {
        width: 95%;
       
    }

    .example {
        padding: 1em 0;
    }
} 

@media (min-width: 1001px) {
    .contain {
        margin: 0 auto;
        text-align: center;
        width: 1200px;
    }
    img {
       width: 33%;
       float: left;
       margin: .1em;
    }

    footer {
        width: 100%;
        clear: left;
    }
} 

/* Lightbox CSS */
#lightbox {
    
    background: url("../images/background.png") repeat !important;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align:center;
    display:table-cell;
    margin: 0 auto;
	vertical-align:middle;
}



#lightbox>img {
	position:relative;
	height:200px;
	top: 200px;
	margin: 0 auto;
	float: none;
	border:1px solid grey;
}
